@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.rubik-dirt-regular {
    font-family: "Rubik Dirt", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dynapuff {
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  nav{
    padding: 0.5rem 0!important;
  }
  [data-testid="flowbite-card"]>div {
    padding: 0.5rem;
    gap: 0;
}  
#cardView { 
  grid-template-columns: repeat(1, 1fr); 
  gap: 8px;   
}
 
@media (max-width: 499px) {
  #cardView {
      grid-template-columns: repeat(1, 1fr); 
      gap: 18px; 
  }
}

@media (min-width: 500px) and (max-width: 749px) {
  #cardView {
      grid-template-columns: repeat(2, 1fr); 
      gap: 12px; 
  }
}

@media (min-width: 750px) and (max-width: 1123px) {
  #cardView {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px; 
  }
}

@media (min-width: 1124px) and (max-width: 1679px) {
  #cardView {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px; 
  }
}

@media (min-width: 1680px) {
  #cardView {
      grid-template-columns: repeat(5, 1fr);
      gap: 24px; 
  }
}