@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.rubik-dirt-regular {
    font-family: "Rubik Dirt", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dynapuff {
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  